@font-face {
    src: url("JejuHallasan.ttf");
    font-family: jejuhallasan;
}

body{
    background-color: #1E2E14;
    font-family: jejuhallasan;
    color: #B3995E;
    text-align: center;
    margin: 0;
    text-shadow: 1px 3px 4px black
}


#hero-class{
    border-radius: 10px;
    background-image: url(Quetta-img.jpg);
    background-size: cover;
    margin: 0 auto;
    width: 700px;
    height: 300px;
}

.main-title{
    height: 49px;
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    margin-bottom: 10px;
}
.tagline{
    margin: 0 auto 0 auto;
    width: 250px;
}

#activities{
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;

}

h3{
    padding-top: 10px;
}

#content{
    width: 700px;
    border-radius: 10px;
    /* padding-top: 1px; */
    background-color: #33582F;
    margin: 0 auto;
}

.active-img{
    width: 100px;
    border-radius: 100%;
    height: 100px;
}

h4, h5{
    text-align: center;
    width: 150px;
}

#guide-image{
    width: 150px;
    height: 220px;
    border-radius: 10px;
}


#guide{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    margin: 50px auto;
    background-color: #33582F;
    padding: 20px 20px 20px 20px;
    border-bottom: 8px solid #0B8D4A;
    border-radius: 15px;
}

.guide-text{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    width: 200px;
}



